<!-- Maryam Afshar, Student ID: 301034443, Due Date: October 3, 2023 -->

<footer>
  <div class="container text-center py-3">
    <div>
      &copy; Copyright
      <strong
        ><span
          style="
            text-decoration: none;
            color: #555;
            font-size: 1.2rem;
            font-weight: bold;
          "
          >Maryam Afshar</span
        ></strong
      >. All Rights Reserved
    </div>
    <div>
      Designed by
      <a
        href="/"
        style="
          text-decoration: none;
          color: #555;
          font-size: 1.2rem;
          font-weight: bold;
        "
        >Maryam Afshar</a
      >
    </div>
  </div>
</footer>
