<!-- Maryam Afshar, Student ID: 301034443, Due Date: October 3, 2023 -->

<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>

    <div class="container py-5">
      <div class="row flex-lg-row-reverse align-items-center gy-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4 mx-auto buble">
          <img
            src="/images/user.jpg"
            class="d-block mx-lg-auto img-fluid rounded-image"
            alt="hero"
          />
        </div>
        <div class="col-lg-7 about">
          <h3 class="about-title mb-4">Software Engineering Student</h3>
          <p class="mb-5" style="font-size: 1.2rem; color: #555">
            currently enrolled in the Type- Software Engineering Technician
            Program program.<br />
            +2 years of experience in web and app design, development and
            testing<br />
            complete +20 individual and team school project related for
            documentation, wed design and development
          </p>

          <form action="/download-file">
            <button
              class="btn btn-primary px-4 me-md-2 btn-prim mb-5"
              type="submit"
            >
              Download resume
            </button>
          </form>
          <section id="skills" class="skills mb-5">
            <div class="" data-aos="fade-up">
              <div class="section-title mb-4">
                <h2>Education</h2>
              </div>

              <div class="row skills-content">
                <div class="col-lg-12">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <strong>diploma:</strong>
                      Software Engineering technician
                      <p
                        class="mb-0"
                        style="font-size: 0.9rem; font-weight: 600; color: #555"
                      >
                        Centennial College , Toronto , ON
                      </p>
                    </li>

                    <li class="list-group-item">
                      <strong>Ontario Graduate Certificate:</strong>Web
                      Development and Internet Applications
                      <p
                        class="mb-0"
                        style="font-size: 0.9rem; font-weight: 600; color: #555"
                      >
                        Centennial College , Toronto , ON
                      </p>
                    </li>
                    <li class="list-group-item b-bottom">
                      <strong>Ontario Secondary School Diploma(O.S.S.D)</strong>
                      <p
                        class="mb-0"
                        style="font-size: 0.9rem; font-weight: 600; color: #555"
                      >
                        Yorkdale Adult Learning & Secondary School , Toronto ,
                        ON
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>

          <section id="skills" class="skills">
            <div class="" data-aos="fade-up">
              <div class="section-title mb-4">
                <h2>Skills</h2>
              </div>

              <div class="row skills-content">
                <div class="col-lg-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Team Working</li>
                    <li class="list-group-item">Testing</li>
                    <li class="list-group-item b-bottom">Math Totur</li>
                  </ul>
                </div>

                <div class="col-lg-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">UI/UX Design</li>
                    <li class="list-group-item">Devops</li>
                    <li class="list-group-item">Database</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
