<!-- Maryam Afshar, Student ID: 301034443, Due Date: October 3, 2023 -->

<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>

    <div class="container my-5 pt-5" style="min-height: calc(100vh - 250px)">
      <div class="row">
        <div class="col-md-4">
          <div class="content mb-5">
            <div class="content-overlay"></div>
            <img class="content-image" src="images/dev1.jpg" />
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Record Music Community</h3>
              <p class="content-text">Mobile App Design Figma</p>
            </div>
          </div>
          <div class="content mb-5">
            <div class="content-overlay"></div>
            <img class="content-image" src="images/dev6.jpg" />
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Dream Design Company</h3>
              <p class="content-text">
                Mobile App Design Adobe XD, Illustrator
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content mb-5">
            <div class="content-overlay"></div>
            <img class="content-image" src="images/dev5.jpg" />
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Lora Furniture Collection</h3>
              <p class="content-text">Desktop & Mobile Size Design Figma</p>
            </div>
          </div>
          <div class="content mb-5">
            <div class="content-overlay"></div>
            <img class="content-image" src="images/dev3.jpg" />
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">School Notepad Design</h3>
              <p class="content-text">
                Different Screen Size Design Adobe XD, Illustrator
              </p>
            </div>
          </div>
          <div class="content mb-5">
            <div class="content-overlay"></div>
            <img class="content-image" src="images/dev7.jpg" />
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Bug Smasher Game</h3>
              <p class="content-text">
                Smash the bug to get score! HTML, CSS & JavaScript
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content mb-5">
            <div class="content-overlay"></div>
            <img class="content-image" src="images/dev4.jpg" />
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">IBO Reno Group.</h3>
              <p class="content-text">Desktop & Mobile Size Design Figma</p>
            </div>
          </div>
          <div class="content mb-5">
            <div class="content-overlay"></div>
            <img class="content-image" src="images/dev2.jpg" />
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Wallet App Design</h3>
              <p class="content-text">Mobile size design Figma</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
